<div class="menu">

  <img src="../../assets/LegalAI.png" width="45px" class="logo">
  
  <a routerLink="/dashboard"> 
  	<div class="option">
  			<img src="../../assets/dashboard.png" >
  	</div>
  </a>
  <a routerLink="/analysis"> 
  	<div class="option">
  		<img src="../../assets/analysis.png" >
  	</div>
  </a>
    <div class="option">
  		<img src="../../assets/man-user.png" >
  	</div>
  	 <div class="option">
  		<img src="../../assets/settings.png" >
  	</div>
  	<div class="option">
  		<img src="../../assets/logout.png">
  	</div>


</div>