<div class="page_name">
	Analysis
</div>


<div class="page_body">
	

		<div class="result">


			<div class="center">
				IN THE SUPREME COURT OF INDIA <br>
				CIVIL ORIGINAL JURISDICTION <br>
				(UNDER ARTICLE 32 OF THE CONSTITUTION OF INDIA)<br>

				<br>
				
					<h3>Dr. Akkai Padmashali & Ors <i>(Petitioners)</i> Vs Union of India & Ors <i>(Respondents)</i></h3>
					WRIT PETITION (CRIMINAL) NO. 76 OF 2016
				
					<br><br>
			</div>
			<b>Synopsis</b><br><BR>

			<ul>

			 <li>The   Petitioners <b>(Member of transgender community)</b> feels Section  377  of  the  Indian  Penal  Code  is unconstitutional,  being  <b>violative</b>  of  <b>their  fundamental  rights under Articles 14, 19 and 21</b> of the Constitution.</li>
			
			<li><b>Autonomy  &  dignity</b>  guaranteed under Article  21; right  to  <b>equality</b>  under  Article  14; right to <b>expression and freedom</b> under Article 19. </li>

			</ul>

		</div>

</div>

<!--

	Party 1 and Party 2

	Arguments

	Nature of Case

	Summery

-->

