<div class="page_name">
	Analysis
</div>


<div class="page_body">
	

		<div class="result">


			<div class="center">
				IN THE SUPREME COURT OF INDIA <br>
				CIVIL ORIGINAL JURISDICTION <br>
				(UNDER ARTICLE 32 OF THE CONSTITUTION OF INDIA)<br>

				<br>
				
					<h3>Dr. Akkai Padmashali & Ors <i>(Petitioners)</i> Vs Union of India & Ors <i>(Respondents)</i></h3>
					WRIT PETITION (CRIMINAL) NO. 76 OF 2016
				
					<br><br>
			</div>
			<b>Summery</b> <br><BR>

			This Litigation is to address the section 377 of the Indian Penal Code is a section of the Indian Penal Code introduced in 1861 during the British rule of India. Modelled on the Buggery Act of 1533, it used to criminalise sexual activities "against the order of nature"


			<b>Arguments</b><br><BR>

			<ul>

			 <li>The   Petitioners <b>(Member of transgender community)</b> feels Section  377  of  the  Indian  Penal  Code  is unconstitutional,  being  <b>violative</b>  of  <b>their  fundamental  rights under Articles 14, 19 and 21</b> of the Constitution.</li>
			
			<li><b>Autonomy  &  dignity</b>  guaranteed under Article  21; right  to  <b>equality</b>  under  Article  14; right to <b>expression and freedom</b> under Article 19. </li>

			</ul>

			<b>Precedent</b><br><br>

			<ul>
				<li>
					
				</li>
			</ul>

			<b>Links</b><br><br>
				- <a href="https://onedrive.live.com/?authkey=%21AA2B2%5FyQEZ5hDdU&id=CECDFA99B125AD75%2111069&cid=CECDFA99B125AD75">
					Section 377 Case submission.
				</a>

				<br>

				- <a href="https://onedrive.live.com/?authkey=%21AOn6IqdshU%2D1fWE&cid=CECDFA99B125AD75&id=CECDFA99B125AD75%2111025&parId=CECDFA99B125AD75%2111065&o=OneUp">
					Case Files
				</a>

		</div>

</div>

<!--

	Party 1 and Party 2

	Arguments

	Nature of Case

	Summery

-->

