<div class="page_name">
	Analysis
</div>


<div class="page_body">
	

		<div class="result">


			<div class="center">
				IN THE SUPREME COURT OF INDIA <br>
				CIVIL ORIGINAL JURISDICTION <br>
				(UNDER ARTICLE 32 OF THE CONSTITUTION OF INDIA)<br>

				<br>
				
					<h3>Dr. Akkai Padmashali & Ors Vs Union of India & Ors</h3>
					WRIT PETITION (CRIMINAL) NO. 76 OF 2016
				
					<br><br>
			</div>
			<b>Synopsis</b><br><BR>

			 Section  377  of  the  Indian  Penal  Code  is 
unconstitutional,  being  violative  of  their  fundamental  rights 
under Articles 14, 19 and 21 of the Constitution
			

		</div>

</div>

<!--

	Party 1 and Party 2

	Arguments

	Nature of Case

	Summery

-->

