<div class="page_name">
	Profile
</div>

<div class="page_body">

			<br>
			List of all the cases
			<Br><Br>

		<a routerLink="/analysis">
			<div class="card">
				<div class="card-hard">
					Case: <b>Dr. Akkai Padmashali & Ors Vs Union of India & Ors </b>
				</div>
				<div class="card-body">
					Managed by: <b>Raman Tehlan</b> <br>
					To Number of Pages: <b>5,430</b> <br>
					Nature of case: <b>Litigation</b> <br>
					Commenced Details: <b>July 10, 2018 before a Bench of Chief Justice Dipak Misra and Justices Rohinton Fali Nariman</b>
				</div>
			</div>
		</a>

		<a routerLink="/analysis">
			<div class="card">
				<div class="card-hard">
					Case: <b>Mr Karan sing Vs The state</b>
				</div>
				<div class="card-body">
					Managed by: <b>Rahul Singh & Abhishek Raj</b> <br>
					To Number of Pages: <b>430</b> <br>
					Nature of case: <b>Criminal</b> <br>
					Commenced Details: <b>December 14, 2017 before a Bench of Justice Shyam Divan</b>
				</div>
			</div>
		</a>


		<a routerLink="/analysis">
			<div class="card">
				<div class="card-hard">
					Case: <b>K.M. Nanavati vs State of Maharashtra</b>
				</div>
				<div class="card-body">
					Managed by: <b>Abhishek Raj</b> <br>
					To Number of Pages: <b>3,430</b> <br>
					Nature of case: <b>Civil</b> <br>
					Commenced Details: <b>January 24, 1959 before a Bench of CU Singh</b>
				</div>
			</div>
		</a>


		<a routerLink="/analysis">
			<div class="card">
				<div class="card-hard">
					Case: <b>State of Orissa vs Ram Bahadur Thapa</b>
				</div>
				<div class="card-body">
					Managed by: <b>Pramod bisht</b> <br>
					To Number of Pages: <b>1,030</b> <br>
					Nature of case: <b>Fraud</b> <br>
					Commenced Details: <b>September 14, 1972 before a Bench of Justice Shyam Divan</b>
				</div>
			</div>
		</a>

		


</div>