<div class="page_name">
	Dashboard
</div>

<div class="page_body">


			<div class="card">
				<div class="card-hard">
					Number of Cases
				</div>
				<div class="card-body">
					32
				</div>
			</div>

			<div class="card">
				<div class="card-hard">
					Number of Files Uploaded
				</div>
				<div class="card-body">
					55,000
				</div>
			</div>


			<div class="card">
				<div class="card-hard">
					Most Active Users
				</div>
				<div class="card-body">
					- Rahul Singh [7 Cases] <br>
					- Abhishek Raj [5 Cases] <br>
					- Pramod bisht [4 Cases] <br>
					
				</div>
			</div>

			<div class="card">
				<div class="card-hard">
					Recent Notes
				</div>
				<div class="card-body">
					
					- Finding prove for it <a href="#">[Case No:- DFE2334][Page 53][Line 32]</a>	<br>

					- No warning given <a href="#">[Case No:- B768334][Page 38][Line 28]</a> <br>

					- Ask rahul to pin <a href="#">[Case No:- D453321][Page 38][Line 28]</a>	

				</div>
			</div>

				<div class="card">
				<div class="card-hard">
					Recent Active Cases
				</div>
				<div class="card-body">
					
					- <a routerLink="/analysis"> Dr. Akkai Padmashali & Ors Vs Union of India & Ors </a>  <br>
					- <a href="#"> Mr Karan sing Vs The state </a>	<br>
					- <a href="#"> K.M. Nanavati vs State of Maharashtra (1959) </a> <br>

				</div>
			</div>


</div>

